@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--main-color: #4F9DA6;
	--notification-color: #FF5959;
	--notification-color-2: #FFAD5A;
}

header {
	width: 100%;
	height: 85px;
	background: var(--main-color);
	font-family: 'Palanquin', sans-serif;
	color: #ffffff;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 100%;
	margin: auto;
	font-size: 20px;
}

.nav-list {
	list-style-type: none;
	display: flex;
}

.nav-list__item {
	margin: 10px;
}

a {
	text-decoration: none;
}



.user-icon {
	background-color: #1A0841;
	color: #ffffff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	margin-left: 20px;
	margin-right: 0px;
}

.badge {
	color: white;
	background: var(--notification-color);
	display: inline-flex;
	padding: 8px;
	margin: 5px 0px;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	align-items: center;
	justify-content: center;
}


/* Filters panel */
.topbar {
	width: 80%;
	margin: auto;
	margin-bottom: 25px;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
}

.topbar .badge {
	font-weight: 300;
	font-size: 20px;
	margin: 5px;
}

.topbar h2 {
	font-size: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

.topbar a {
	font-size: 22px;
}

.light-text {
	color: #666666;
}

/* Cards */
.card-container {
	display: grid;
	width: 100%;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, 550px);
	gap: 10px;
}


.card {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	display: flex;
	padding: 5px;
	width: 550px;
}

.card img {
	width: 250px;
	height: 195px;
	object-fit: cover;
	margin-right: 10px;
}

.card__right-text {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
}

.card__title-text {
	font-family: 'Palanquin', sans-serif;
}

.card__description-text {
	font-family: 'Roboto', sans-serif;
	color: #666666;
}


.card__price-text {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	background: var(--notification-color-2);
}

.card a, .topbar a {
	font-family: 'Palanquin', sans-serif;
	width: 100%;
	text-align: right;
	color: var(--main-color);
	font-weight: 500;
}


.card a:hover, .topbar a:hover {
	text-decoration: underline wavy rgba(79, 157, 166, 0.5);
}


.menu {
    z-index: 999999;
	outline: none;
	border: none;
	background: transparent;
	color: white;
	font-size: 22px;
	display: none;
}


@media screen and (max-width: 580px) {
	.card-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.card {
		width: 100%;
		position: relative;
	}
	.card img {
		width: 40%;
	}

	.card__title-text {
		font-size: 20px;
	} 
	.card__description-text {
		font-size: 16px;
	} 
	.card__right-text {
		position: static;
	}
	.card__price-text {
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
		margin: 10px;
	}
	.filters {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.menu {
		display: block;
	}
	.nav-list {
		display: flex;
		transform: translateX(-100%);
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background: var(--main-color);
		z-index: 999;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		overflow: hidden;
		
	}
	.nav-list.open {
		transform: translateX(0);
		transition: transform 0.5s ease-in-out;
	}

	
}




/*

font-family: 'Palanquin', sans-serif;
font-family: 'Roboto', sans-serif;

*/